<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <div class="gh-footer-bar">
            <div class="gh-footer-copyright">
                <div class="custom-footer">
                    <p>Journal 55 © 2024.
                </div>
            </div>
        </div>
    </div>
</footer>